@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.underline-animation {
  position: relative;
  overflow: hidden;
  padding-bottom: 8px;
}
.underline-animation::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0;
  padding: 10 10px;
  background-color: currentColor;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.underline-animation:hover::after {
  transform: translateX(0%);
}


.media-scroller {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px; 
  padding: 16px; 
}

.media-scroller > div {
  flex: 0 0 auto;
  margin-left: 10px;
  scroll-snap-align: center;
}

.media-scroller img {
  display: block;
  height: 500px;
  width: 450px;
  
}


.media-scroller-phone {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px; 
  padding: 16px; 
}

.media-scroller-phone > div {
  flex: 0 0 auto;
  margin-left: 10px;
  scroll-snap-align: center;
}

.media-scroller-phone img {
  display: block;
  height: 300px;
  width: 270px;
  
}


.media-scroller-phone-featured {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px; 
  padding: 16px; 
}

.media-scroller-phone-featured > div {
  flex: 0 0 auto;
  margin-left: 10px;
  scroll-snap-align: center;
}

.media-scroller-phone-featured img {
  display: block;
  height: 400px;
  width: 320px;
  
}


